.link {
  font-family: Arial;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  color: #00FFFF;
  text-decoration: none;
}

.headline h1{
  font-family: Arial;
  font-size: 20vw;
  font-weight: bold;
  margin-bottom: 40px;
  margin-top: 25px;
  text-align: center;
  color: #FF6600;

}
