.link {
  font-family: Arial;
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 15px;
  flex-grow: 1;
  text-align: center;
}

.headline {
  font-family: Arial;
  /* font-size: 70px; */
  font-size: 20vw;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  color: #FA9028;

}
